@use './RelatedItemsAndComparison/RelatedItemsAndComparison';

$color-blue: #0059ff;

.app {
  color: $color-blue;
  font-size: 2rem;
  text-align: center;
  /*Setting app to take whole page for our containers*/
}

/*adding some basic structure to our app, can be changed later */
.main-app {
  display: grid;
  // grid-template-rows: repeat(4, 50%);
  margin-right: 15%;
  margin-left: 15%;
  grid-gap: 50px

}
/*****************************/
/*Ratings and Reviews Section*/
/*****************************/

/* Modal Settings */
.rr-modal-image {
  width: 100%;
  height: auto;
}

.rr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.6);
}

.rr-modal-main {
  position: fixed;
  background: white;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rr-display-block {
  display: block;
}

.rr-display-none {
  display: none;
}
/* modal settings ends */

/*Star settings*/
:root {
  --star-size: 1vw;
  --star-color: rgb(194, 133, 133);
  --star-background: rgb(153, 0, 255);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* Stars settings ends */

/* Review bar */
.rr-review-bar-container {
  width: 100%;
  background-color: #ddd;
}
.rr-review-bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
}

.rr-review-bar:hover {
  border: greenyellow;
  border-style: solid;
  border-width: -10px;
}
/* Review bar ends */

.rr-check-square {
  color: rgb(0, 0, 0);
}
.rr-parent {
  color: rgb(0, 0, 0);
  display: grid;
  height: 500px;
  width: 75%;
  margin: auto;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  background-color: rgb(220, 230, 212);
}
.rr-rating-breakdown {
  background-color: cadetblue;
  grid-column: 1;
  grid-row: 3;
}

.rr-rating-big {
  background-color: chocolate;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Review tile component */
.rr-review-tile-container {
  font-size: 1vw;
  display: grid;
  width: 90%;
  margin-left: auto;
  display: grid;
  grid-template-rows: 10% 10% auto 10% auto auto 10%;
  grid-template-columns: auto auto auto auto auto;
}
.rr-review-tile-stars {
  grid-row-start: 1;
  grid-column-start: 1;
}
.rr-tile-summary {
  grid-row: 2;
  grid-column: span 5;
}
.rr-review-body {
  grid-row-start: 3;
  grid-column: span 5;
}
.rr-recommended {
  grid-row-start: 4;
  grid-column: span 5;
}
.rr-photos-div {
  grid-row-start: 6;
  grid-column: span 5;
  width: 70%;
  margin: auto;
}
.rr-product-thumbnail {
  width: 20%;
  height: auto;
}
.rr-tile-checkmark {
  grid-column: 4 span;
}
.rr-helpfulness {
  grid-row: 7;
  grid-column: span 5;
}
/* Review Breakdown Component */

/* End Review Breakdown Component */

/*End Ratings and Reviews*/
