@use './Overview/overviewStyle';
@use './RelatedItemsAndComparison/RelatedItemsAndComparison';
@use './RatingsReviews/ReviewStyle';
@use './QuestionsAndAnswers/style.scss';

$color-blue: #0059ff;

.app {
  color: $color-blue;
  font-size: 2rem;
  text-align: center;
  /*Setting app to take whole page for our containers*/
}

/*adding some basic structure to our app, can be changed later */
.main-app {
  display: grid;
  grid-template-rows: repeat(4, 50%);
  margin-right: 15%;
  margin-left: 15%;
  grid-gap: 50px;
}
/*****************************/
/*Ratings and Reviews Section*/
/*****************************/

/* Modal Settings */
.rr-modal-image {
  width: 100%;
  height: auto;
}

.rr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.6);
}

.rr-modal-main {
  position: fixed;
  background: white;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
