// $gray: #cccccc;
// $white-ish: #eeeeee;
// $another-gray: #fafafa;



/***** CARD ELEMENT DESIGNS BEGIN*****/
.rpo-main-container {
  // justify-self: center;
}
.rpo-image-div {
  height: 200px;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
}

.rpo-title-div {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: larger;
  color: #708090;
}

.rpo-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.rpo-product-rating {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-bottom: 2px solid #cccccc;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/******CARD*******/
.rpo-card {
  width: 180px;
  height: 360px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  position: relative;
  transition: 0.5s ease-out;
}

// .rpo-add-card-function:hover {
//   color: greenyellow;
//   transition: 1.5s ease-out;
//   // border: 5px solid #272133;
//   box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
// }

.add-outfit-card-text {
  width: 130px;
  text-align: center;
  font-weight: bold;
  color: #A9A9A9;
}

// .rpo-add-card-function:hover .rpo-plus {
//   color: greenyellow;
//   transition: 1.5s ease-out;
// }

// .rpo-add-card-function:hover .add-outfit-card-text {
//   color: #5b9a8e;
//   transition: 1.5s ease-out;
// }

.rpo-add-card-function:hover {
  transition: 1.5s ease-out;
  box-shadow: 0 2px 30px greenyellow;
}


.rpo-add-card-function {
  background-color: #2e3033;
  width: 180px;
  height: 250px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  position: relative;
  transition: 1.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  // background: #eeeeee;
  border-bottom: 2px solid #cccccc;
}

.rpo-add-outfit-card {
  width: 250px;
  height: 400px;
  background: #cccccc;
  margin: auto;
  position: relative;
}

.rpo-card:hover {
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}

.rpo-card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.5s ease-out;
}

.rpo-product-info-div {
  display: grid;

}

.rpo-product-info-div > p {
  display: grid;
  margin: 7px;
}

.rpo-product-category {
  justify-self: center;
  font-style: italic;
  margin: 7px;
  color: #808080;
}

.rpo-product-name {
  color: #778899;
  justify-self: center;
}

.rpo-price {
  margin: 7px;
  color: #b12704;
  justify-self: center;
}
.rpo-sale-price {
  color:crimson;
}

.rpo-slashed-price {
  text-decoration: line-through;
}
/***** CARD ELEMENT DESIGNS end*****/

/****** CAROUSEL DESIGN BEGIN ******/
.rpo-card-carousel-container {

  width: 100%;
  // overflow: auto;
  margin: auto;
  // padding: 1rem;
}

.rpo-add-outfit-container {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin: auto;
  // padding: 1rem;
}

.rpo-card-carousel-main {
  // overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  /* replace with alignself or something? */
  margin: auto;
  padding: 3px;
  scroll-behavior: smooth;
}

.rpo-carousel-card-box {
  display: flex;
  // gap: 5%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  overflow-x: auto;
  padding: 15px;
}

.btn {
  // position: absolute;
  margin: auto;
  box-shadow: 0 0 6.1px 0.9px grey;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: grey;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.spinner {
  width: 30em;
  height: 30em;
  border-top: 1em solid #5b9a8e;
  border-right: 1em solid transparent;
  animation: spinner 0.9s linear infinite;
  border-radius: 50%;
  margin: auto;
}
.head {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
  background-color: #5b9a8e;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
