.rpo-main-container {
  display: grid;
  grid-template-rows: 10px 400px 10px 400px;
  row-gap: 10px;
  padding: 10px;
}

// .rpo-title-div {
//   // margin: 5px;
// }
.rpo-card-container {
  display: grid;
  margin: 0 auto; //centers card container on webpage
  // max-height: 100%;
  // max-width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px; //grid gap??
  font-family: sans-serif;
}

.rpo-image-div {
  max-width: 100%;
  max-height: 100%;
}

.rpo-card {
  // display: grid;
  // grid-template-rows:  70% 25%;
  padding: 2px;
  // max-width: 100%;
  // max-height: 70%;
  // min-width: 100%;
  // min-height: 100%;
  border: burlywood;
  border-radius: 3px;
  border-color: burlywood;
}

.rpo-product-image {
  width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  padding: 1px;
}

.rpo-product-info-div {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 5px;
  background: #fafafa;
}

.rpo-product-rating {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-bottom: 2px solid #cccccc;
}

.rpo-product-info {}

