// $gray: #cccccc;
// $white-ish: #eeeeee;
// $another-gray: #fafafa;



.rpo-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  gap: 10px;
}

.rpo-image-div {
  height: 250px;
}

.rpo-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.rpo-product-rating {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-bottom: 2px solid #cccccc;
}

.rpo-card {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.rpo-sale-price {
  color:red;
}

.rpo-slashed-price {
  text-decoration: line-through;
  // color: red;
}
