/*****************************/
/*Ratings and Reviews Section*/
/*****************************/
.rr-tiles-container::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.rr-tiles-container::-webkit-scrollbar-track {
  background: #b1aeae4d; /* color of the tracking area */
}

.rr-tiles-container::-webkit-scrollbar-thumb {
  background-color: #2be25536;
  border-radius: 20px;
}

.rr-review-modal-main::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.rr-review-modal-main::-webkit-scrollbar-track {
  background: #b1aeae4d; /* color of the tracking area */
}
.rr-star-font {
  font-size: 30px;
  margin-top: -18%;
}

.rr-review-modal-main::-webkit-scrollbar-thumb {
  background-color: #2be25536;
  border-radius: 20px;
}

/* RR Selector */

/* RR buttons */
.button-color-change {
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #2be255;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 100;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px#4bff74;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.rr-line-break {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.rr-button-pretty {
  display: inline-block;
  border-radius: 28px;
  background-color: black;
  border-top-color: rgb(192, 192, 192);
  border-left-color: rgb(192, 192, 192);
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.rr-button-pretty span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.rr-button-pretty span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.rr-button-pretty:hover span {
  padding-right: 25px;
  color: black;
}

.rr-button-pretty:hover {
  background: greenyellow;
}

.rr-button-pretty:hover span:after {
  opacity: 1;
  right: 0;
}
.rr-button-d:hover {
  background: greenyellow;
  color: black;
}

.button-color-change:hover {
  color: #575757;
  border: 1px solid #78ffa5;
  box-shadow: 2px 2px 20px #066827;
}

.rr-button.button-color-change {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Modal Settings */
.rr-modal-image {
  height: 20px;
  width: 20px;
}

// .rr-modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 50%;
//   background: rgba(255, 0, 0, 0.6);
// }

.rr-modal-main {
  position: fixed;
  background: #ffffff00;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  backdrop-filter: blur(5px);
  justify-content: center;
}

.rr-display-block {
  display: block;
}

.rr-display-none {
  display: none;
}
/* modal settings ends */

/*Star settings*/
:root {
  --star-size: medium;
  --star-color: rgb(160, 160, 160);
  --star-background: rgba(228, 38, 38, 0.808);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* Stars settings ends */

.rr-start-div {
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
}

.rr-breakdown {
  grid-row: 1;
}
.rr-breakdown-module-1 {
  display: grid;
  //grid-template-rows: 33% 33% 33%;
  grid-template-columns: 13% 25% 25% 25%;
}

.rr-breakdown-big-stars {
  font-size: 140%;
  margin-left: 20px;
}

.rr-breakdown-big-font {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: xxx-large;
}

.rr-breakdown-review-percentage {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Review bar */
.rr-product-breakdown {
  // commented background-color: white;
  font-family: ‘Roboto’, sans-serif;
  width: 90%;
}
.rr-product-overview-text {
  display: flex;
  justify-content: space-between;
}
.rr-product-overview-surroundtext {
  margin-top: 2%;
}

.rr-product-overview-bar-container {
  background-color: #dddddd;
  border-radius: 5px;
}
.rr-product-overview-review-bar {
  text-align: right;

  //background-color: #2be255;
  height: 1%;
  border-radius: 5px;
}
.rr-product-overview-bar-container h2 {
  //commented color: black;
  font-size: 30px;
  position: relative;
  top: 0px;
  left: 1.5%;
}
.rr-reviews-bar-container {
  font-family: ‘Roboto’, sans-serif;
}
.rr-review-bar-container {
  width: 100%;
  background-color: #dddddd;
  border-radius: 5px;
}

.rr-review-bar-star-rating {
  grid-row-start: 1;
  grid-column-start: 1;
  text-decoration: underline;
  cursor: pointer;
}
.rr-review-bar-star-rating:hover {
  color: green;
}

.rr-review-bar-star-count {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 85%;
  padding: 1%;
  width: 90%;
}

.rr-filters-applied {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 10px;
}
.rr-filter-string-remove-div {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-column-end: 5;
  color: brown;
}

.rr-review-bar {
  text-align: right;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  border-style: solid;
  border-width: 10px;
  color: #2be255;
  border-radius: 5px;
}

.rr-review-bar:hover {
  border: greenyellow;
  border-style: solid;
  border-width: 10px;
}
/* Review bar ends */

.rr-check-square {
  //commented color: rgb(0, 0, 0);
}

.rr-parent {
  //commented color: black;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px;
  //commented background-color: white;
  gap: 10px;
  height: 600px;
}
.rr-select {
  font-weight: bold;
}
.rr-selector-form-container {
  margin-left: 41%;
}

.rr-rating-breakdown {
  //commented background-color: #ffffff;
  grid-column: 1;
  grid-row: 1;
}

.rr-tiles-container {
  grid-column-start: 2;
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  /* grid-row-end: 2; */
  grid-template-columns: 1;
  grid-template-rows: auto;
  //overflow-y: scroll;
  flex-direction: column;
  overflow-y: auto;
}
.rr-rating-big {
  background-color: chocolate;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.rr-review-footer {
  display: flex;
  justify-content: space-between;
}

.rr-product-breakdown-container {
  grid-row: 2;
  height: 10%;
}

/* Review tile component */
.rr-review-tile-container {
  // font-size: 1vw;
  grid-column: 2;
  display: grid;
  grid-template-rows: 10% 10% auto 10% auto auto 10%;
  grid-template-columns: auto auto auto auto auto;
  height: 300px;
}
.rr-review-tile-stars {
  grid-row-start: 1;
  grid-column-start: 1;
}
.rr-tile-summary {
  grid-row: 2;
  grid-column: span 5;
}
.rr-review-body {
  grid-row-start: 3;
  grid-column: span 5;
}
.rr-recommended {
  grid-row-start: 4;
  grid-column: 1 / span 5;
}
.rr-photos-div {
  grid-row-start: 6;
  grid-column: span 5;
  width: 70%;
  margin: auto;
  display: flex;
}
a.rr-helpfulness-link:visited {
  color: rgba(228, 38, 38, 0.808);
}
a.rr-helpfulness-link {
  color: rgba(228, 38, 38, 0.808);
}
.rr-product-thumbnail {
  max-height: 100px;
  max-width: 100px;
  padding: 3px;
  border-radius: 10px;
}
.rr-tile-checkmark {
  grid-column: 4 span;
}
.rr-review-body {
  font-family: Roboto;
}
.rr-helpfulness {
  //grid-row: 7;
  grid-column: span 5;
}
/* Review Breakdown Component */

/* End Review Breakdown Component */
/* Rating and Reviews submit reviews modal */
/* Modal Settings */
.rr-modal-image {
  width: 50%;
  height: auto;
}

.rr-review-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: auto;
  background: rgb(255, 0, 0);
  margin: auto;
}
.rr-review-modal-header {
  display: flex;
  justify-content: start;
}
.rr-review-modal-main {
  position: fixed;
  background: rgb(255, 255, 255);
  width: 70%;
  height: 60%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-radius: 10px;
  padding-left: 2%;
}

.rr-review-modal h2 {
  color: #e94f4f;
  font-family: 'Roboto';
}
.rr-review-modal h1 {
  color: #e94f4f;
  font-family: 'Roboto';
}

.rr-review-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rr-form-display-block {
  display: block;
}

.rr-form-display-none {
  display: none;
}

.rr-review-modal-stars {
  width: 50%;
  display: flex;
}

.rr-review-modal-star {
  padding-top: 3%;
  padding-left: 3%;
}

.rr-modal-form-thumbnail {
  width: 20%;
  height: auto;
}
.rr-star-modal-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.rr-star-modal-group * {
  font-size: 30px;
}
.rr-star-modal-group > input {
  display: none;
}
.rr-star-modal-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.rr-star-modal-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: '☆';
  color: #888;
}
.rr-star-modal-group > input:checked ~ label:before,
.rr-star-modal-group > input + label:hover ~ label:before,
.rr-star-modal-group > input + label:hover:before {
  content: '★';
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.rr-star-modal-group > .rr-star-modal-clear + label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}
.rr-star-modal-group > .rr-star-modal-clear + label:before {
  width: 0.5em;
}
.rr-star-modal-group:hover > input + label:before {
  content: '☆';
  color: #888;
  text-shadow: none;
}
.rr-star-modal-group:hover > input + label:hover ~ label:before,
.rr-star-modal-group:hover > input + label:hover:before {
  content: '★';
  color: #e52;
  text-shadow: 0 0 1px #333;
}

.rr-review-modal-text-area {
  height: 300px;
  width: 90%;
  resize: none;
}

.rr-chara-1 {
  display: inline-block;
  padding-left: 5%;
}
.rr-chara-radio-button {
  display: flex;
  justify-content: end;
}
.rr-rad-button-label {
  margin-left: 2%;
}
/* End rating and reviews submit reviews modal */
/*End Ratings and Reviews*/
