/*****************************/
/*Questions and Answers*/
/*****************************/

//Answer List Entry

.qa-answer-body {
  font-size: 11;
  font-weight: normal;
}

//Question List

.qa-questionList-container {
  display: block;
  height: 60vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
