.o-overView {
  background-color: white;
  height: 400px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.o-imageGallery {
  // background-color: rgb(78, 89, 243);
  border: 1px solid black;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.o-productInfo {
  // background-color: rgb(224, 210, 226);
  border: 1px solid black;
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
}

.o-styleSelector {
  // background-color: rgb(229, 233, 168);
  border: 1px solid black;
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
}

.o-addToCart {
  // background-color: rgb(168, 233, 171);
  border: 1px solid black;
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 6;
}

.o-productOverview {
  background-color: rgb(148, 33, 33);
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100;
}
.o-productOverviewText {
  background-color: rgb(212, 79, 208);
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
}

#o-productName {
  font-size: 2em;
}

.o-selectStyleThumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 35px;
}

.o-items {
  display: grid;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
